# Ignore Python bytecode and cache
__pycache__/
*.py[cod]
*.so
*.cache
*.log
*.tmp

# Ignore SQLite database files
*.sqlite3
*.db
*.db-journal
sql_explorer.db  # Specifically ignore this file

# Ignore MongoDB related dump files 
dump/

# Ignore specific database or cache folders
/db/
/cache/

# Ignore environment files 
.env
